.main-block {
    height: 88vh;
    display:flex;
    flex-direction: row;
    margin: 0;
}

/*Лівий блок*/
.input-block {
    background-color: #191919;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    align-items: center;
}

.input-img {
    width: 100%;
}

.main-header {
    background-color: #A62500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3px;
}

.main-header h1 {
    font-family: 'Lora', Light;
    font-size: 30px;    
    color: white;
}

.input-body {
    display: flex;
    flex-direction: column;
    align-items: center
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center 
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.add-button {
    background-color: #f4511e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*Середній блок*/
.output-block {
    background-image: url("images/banana.jpg");
    background-size: cover;
    display: flex;
    flex-basis: 30%; 
    flex-direction: column;
    align-items: center;
}

#list-ingredient {
    list-style: none;
    width: 80%;
}

.item-ingredient {
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7);
}

.delete-button {
    background-color: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}

.ingredient-name-block{
    display: flex;
    flex: 1;
    justify-content: center;
}

.ingredient-name {
    font-family: 'Ubuntu', Bold;
    text-align: center;
    font-size: 20px;
}

/*Третій блок*/
.find-recipe-block {
    background-color: white;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
}
