* {
    margin:0;
    padding: 0;
}

body {
    background-image: url(images/backgroung.jpg);
}

#block-body {
    width: 1380px;
    margin: 0px auto;
    height: auto;
}

header {
    width: 1380px;
    height: 80px;
    background-color: #FFBC73;
}

.logo {
    width: 240px;
    float: left;
    height: 80px;
}

.logo a{
    display: block;
    margin-left: 30px;
    margin-top: 17px;
    font-family: 'Headland One', serif;
    font-size: 100%;
    color: #A62500;
    text-decoration: none;
    cursor: pointer;
}

.top-menu {
    width: 885px;
    height: 80px;
    float: left;
}

.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}

.top-menu ul li a {
    display: block;
    width: 290px;
    text-decoration: none;
    font-size: 20px;
    color: #1d7373;
    height: 50px;
    font-family: 'Lora', serif;
    padding-top: 30px;
/*    padding-left: 25px;*/
    cursor: pointer;
}

.top-menu li{
    transition: all 0.3s ease;
}

.top-menu li:hover {
    background: #A62500;
}

.block-top-auth {
    width: 100px;
    float: left;
    margin-left: 140px;
    height: 80px;
}

.block-top-auth p {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 8px;
    font-family: 'Lora', serif;
}

.block-top-auth a {
    text-decoration: none;
    color: #1d7373;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.block-top-auth a:hover {
    color: #A62500;
}

