* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/backgroung.jpg);
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 80px;
    background-color: #FFBC73;
   /* background-image: url("images/backgroung-header.jpg");*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
}

.logo a {
    font-family: 'Headland One', serif;
    font-size: 100%;
    color: #A62500;
    text-decoration: none;
    cursor: pointer;
}

.top-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.top-menu ul{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.top-menu ul li {
    list-style: none;
    text-align: center;
    flex: 1;
}

.top-menu ul li a {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #1d7373;
    font-family: 'Lora', serif;
    cursor: pointer;
}

.top-menu li a {
    transition: all 0.5s ease;
}

.top-menu li a:hover {
    background: #A62500;
    color: #fff;
}

.block-top-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 15px;
}

.block-top-auth p {
    text-align: center;
    font-family: 'Lora', serif;
}

.block-top-auth a {
    text-decoration: none;
    color: #1d7373;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.block-top-auth a:hover {
    color: #A62500;
}

.carousel-cell {
    width: 100vw;
    height: 88vh;
    padding: 0;
}

.carousel-cell img{
    width: 100vw;
    height: 88vh;
}


.cell1, .cell2, .cell3 {
    width: 100vw;
    height: 88vh;
    background-size:cover;
}

.cell1 {
    background-image: url("images/slide1.jpg");
}

.cell2 {
    background-image: url("images/slide2.jpg");
}

.cell3 {
    background-image: url("images/slide3.jpg");
}

.flickity-page-dots {
    display: none;
}
