.body {
    margin: 0;
    padding: 0;
}

.main-block {
    width: 100vw;
    height: 88vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #a62500;
    background-image: url(../images/background-login.jpg);
    background-size: 100vw 88vh;
}

.central-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    width: auto;
    padding: 3vw;
    height: 70vh;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);    
}

h2 {
    color:white;
    font-family: 'Lora', Light;
    font-size: 40px;
    padding-top: 10px;
}

.registration-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nick-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generate-button{
    align-self: flex-end;
    background-color: #f4511e;
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30%; 
}

input[type=text], input[type=password] {
    width: 30vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label{
    font-family: 'Ubuntu', light italic;
    font-size: 20px;
    color: white;
}

.sex{
    display: inline;
    font-family: 'Ubuntu', light italic;
    padding: 5px;
    font-size: 18px;
    color: white;
}

.sex p{
    text-align: center;
    padding-bottom: 5px;
}

.sex span{
    padding-left: 5px;
    padding-right: 5px;
}

.radiobox-list li {
    padding: 5px;
    list-style: none;
    display: inline;
}

.registration-button {
    background-color: #f4511e;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}